<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<%= link_to 'Create New Blog', new_blog_path %>

<hr>

  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <p><%= blog.title %></p>
        <p><%= blog.body %></p>
        <%= image_tag blog.thumb_image unless blog.thumb_image.nil? %>
        <p><%= link_to blog.status, toggle_status_blog_path(blog) %></p>
        <p><%= link_to 'Show', blog %></p>
        <p><%= link_to 'Edit', edit_blog_path(blog) %></p>
        <p><%= link_to 'Delete Post', blog, method: :delete, data: { confirm: 'Are you sure about this?' } %></p>
      </tr>
    <% end %>
  </tbody>

<hr>

<br>
