<p id="notice"><%= notice %></p>

<h2>Blogs</h2>

<%= link_to 'Create New Blog', new_blog_path %>

<hr>

  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div>
    <% @blogs.each do |blog| %>
      <div>
        <p><%= blog.title %></p>
        <p><%= blog.body %></p>
        <p><%= link_to 'Show', blog %></p>
        <p><%= link_to 'Edit', edit_blog_path(blog) %></p>
        <p><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure about this?' } %></p>
      </div>
    <% end %>
  </div>

<hr>

<br>


